<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/assets/css/about_us.css">
        <link rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="wrap_div">
		<nav class="first_navigation">
                <ul id="menu-box">
                    <li><a href="/main">main</a></li>
                    <li><a href="/about_us">about us</a></li>
                    <li><a href="folow_us.html">folow us</a></li>
                    <li><a href="Contact Us">contact us</a></li>
                </ul>
        </nav>
        <div class="text_div">
        	<div class="left_text">
        		<p>Solet antiopam ocurreret te vel, has cu modus disputationi. Ut vocibus scriptorem delicatissimi eum, est ex nisl feugait indoctum. Mazim petentium eos at, recusabo mediocritatem et eos. Eu mea contentiones deterruisset, quo labore legimus in. Vis quod dicant commodo te, in aperiam volutpat mnesarchum eam.
        		</p>
        		<p>
				Cu suscipit omittantur vim, ius menandri conclusionemque et. At amet tota graecis ius. Eu has inermis euripidis, tation homero tempor ius ne. Mundi discere feugiat his ei, aeterno cotidieque an mea, est vero suscipit placerat te.
				</p>
				<p>
				Ex mei consul vocibus vituperatoribus. Mei iudico nullam nostrum ei. Putant persequeris accommodare in cum. In vix vidit labores. Quo ad dicat pertinacia adipiscing.
				</p>
        	</div>
        	<div class="analytic_div">
        		<img class ="analytic_style" src="images/svg-vs-gif-sprout-chart.svg">
        	</div>
        </div>
	</div>

</body>
</html>