<!DOCTYPE html>
<html lang="EN">
<link rel="stylesheet" type="text/css" href="/assets/css/main_page.css">
    <body>
    <nav class="first_navigation">
                <ul id="menu-box">
                    <li><a href="/main">main</a></li>
                    <li><a href="/about_us">about us</a></li>
                    <li><a href="folow_us.html">folow us</a></li>
                    <li><a href="Contact Us">contact us</a></li>
                </ul>
        </nav>
        <div id="wrap-section">
            <div class="center_content_button">
                <div class="empoloyees_p ">
                    <p>Working with employess<a class="p_button_empoloyees rubberBand" href="/employees">   Empoloyees</a></p>
                </div>
                <div class="shifts-p">
                    <p>Working with shifts <a class="p_button_shifts rubberBand" href="#">Shifts</a></p>
                </div>
            </div>

        </div>
    </body>
</html>