<!DOCTYPE html>
<html lang="EN">
<link rel="stylesheet" type="text/css" href="/assets/css/main_page.css">
    <body>
        <div id="wrap-section">

            <div class="center_content_button">
                <div class="empoloyees_p ">
                    <p>Working with employess<a class="p_button_empoloyees rubberBand" href="/employees">   Empoloyees</a></p>
                </div>
                <div class="shifts-p">
                    <p>Working with shifts <a class="p_button_shifts rubberBand" href="#">Shifts</a></p>
                </div>
            </div>

        </div>
    </body>
</html>